{
    "openapi": "3.1.0",
    "info": {
        "title": "Discord HTTP API (Preview)",
        "description": "Preview of the Discord v10 HTTP API specification. See https://discord.com/developers/docs for more details.",
        "termsOfService": "https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service",
        "license": {
            "name": "MIT"
        },
        "version": "10"
    },
    "externalDocs": {
        "description": "Discord Developer Documentation",
        "url": "https://discord.com/developers/docs"
    },
    "servers": [
        {
            "url": "https://discord.com/api/v10"
        }
    ],
    "paths": {
        "/applications/@me": {
            "get": {
                "operationId": "get_my_application",
                "responses": {
                    "200": {
                        "description": "200 response for get_my_application",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PrivateApplicationResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the application object associated with the requesting bot user."
            },
            "patch": {
                "operationId": "update_my_application",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplicationFormPartial"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for update_my_application",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PrivateApplicationResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the updated application object for the requesting bot user."
            }
        },
        "/applications/{applicationId}": {
            "get": {
                "operationId": "get_application",
                "responses": {
                    "200": {
                        "description": "200 response for get_application",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PrivateApplicationResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the application object for the specified application ID."
            },
            "patch": {
                "operationId": "update_application",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplicationFormPartial"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for update_application",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PrivateApplicationResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the updated application object for the specified application ID."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/activity-instances/{instanceId}": {
            "get": {
                "operationId": "applications_get_activity_instance",
                "responses": {
                    "200": {
                        "description": "200 response for applications_get_activity_instance",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmbeddedActivityInstance"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the activity instance object for the specified application and instance ID."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "instanceId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "maxLength": 152133
                    }
                }
            ]
        },
        "/applications/{applicationId}/attachment": {
            "post": {
                "operationId": "upload_application_attachment",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplicationIdAttachmentBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for upload_application_attachment",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivitiesAttachmentResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "activities.invites.write",
                            "activities.read",
                            "activities.write",
                            "applications.builds.read",
                            "applications.builds.upload",
                            "applications.commands",
                            "applications.commands.permissions.update",
                            "applications.commands.update",
                            "applications.entitlements",
                            "applications.store.update",
                            "bot",
                            "connections",
                            "dm_channels.read",
                            "email",
                            "gdm.join",
                            "guilds",
                            "guilds.join",
                            "guilds.members.read",
                            "identify",
                            "messages.read",
                            "openid",
                            "relationships.read",
                            "role_connections.write",
                            "rpc",
                            "rpc.activities.write",
                            "rpc.notifications.read",
                            "rpc.screenshare.read",
                            "rpc.screenshare.write",
                            "rpc.video.read",
                            "rpc.video.write",
                            "rpc.voice.read",
                            "rpc.voice.write",
                            "voice",
                            "webhook.incoming"
                        ]
                    }
                ],
                "description": "Returns an upload URL and metadata for uploading an application attachment."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/commands": {
            "get": {
                "operationId": "list_application_commands",
                "parameters": [
                    {
                        "name": "with_localizations",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {},
                        "x-ballerina-name": "withLocalizations"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response for list_application_commands",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/ApplicationCommandResponse"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns a list of global application command objects for the specified application."
            },
            "put": {
                "operationId": "bulk_set_application_commands",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maxItems": 130,
                                "items": {
                                    "$ref": "#/components/schemas/ApplicationCommandUpdateRequest"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for bulk_set_application_commands",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/ApplicationCommandResponse"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns a list of application command objects after bulk overwriting all global commands."
            },
            "post": {
                "operationId": "create_application_command",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplicationCommandCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for create_application_command",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "201 response for create_application_command",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns the newly created global application command object."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/commands/{commandId}": {
            "get": {
                "operationId": "get_application_command",
                "responses": {
                    "200": {
                        "description": "200 response for get_application_command",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns the application command object for the specified command ID."
            },
            "delete": {
                "operationId": "delete_application_command",
                "responses": {
                    "204": {
                        "description": "204 response for delete_application_command",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns no content on successful deletion of the application command."
            },
            "patch": {
                "operationId": "update_application_command",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplicationCommandPatchRequestPartial"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for update_application_command",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns the updated application command object."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "commandId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/emojis": {
            "get": {
                "operationId": "list_application_emojis",
                "responses": {
                    "200": {
                        "description": "200 response for list_application_emojis",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListApplicationEmojisResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns a list of emoji objects for the specified application."
            },
            "post": {
                "operationId": "create_application_emoji",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplicationIdEmojisBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "201 response for create_application_emoji",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmojiResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the newly created application emoji object."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/emojis/{emojiId}": {
            "get": {
                "operationId": "get_application_emoji",
                "responses": {
                    "200": {
                        "description": "200 response for get_application_emoji",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmojiResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the application emoji object for the specified emoji ID."
            },
            "delete": {
                "operationId": "delete_application_emoji",
                "responses": {
                    "204": {
                        "description": "204 response for delete_application_emoji",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns no content on successful deletion of the application emoji, or an error response on failure."
            },
            "patch": {
                "operationId": "update_application_emoji",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EmojisemojiIdBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for update_application_emoji",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmojiResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the updated application emoji object on success, or an error response on failure."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "emojiId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/entitlements": {
            "get": {
                "operationId": "get_entitlements",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/SnowflakeType"
                        },
                        "x-ballerina-name": "userId"
                    },
                    {
                        "name": "sku_ids",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "oneOf": [
                                {},
                                {
                                    "maxItems": 100,
                                    "uniqueItems": true,
                                    "items": {
                                        "oneOf": [
                                            {},
                                            {
                                                "$ref": "#/components/schemas/SnowflakeType"
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "x-ballerina-name": "skuIds"
                    },
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/SnowflakeType"
                        },
                        "x-ballerina-name": "guildId"
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/SnowflakeType"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/SnowflakeType"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "exclude_ended",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {},
                        "x-ballerina-name": "excludeEnded"
                    },
                    {
                        "name": "exclude_deleted",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {},
                        "x-ballerina-name": "excludeDeleted"
                    },
                    {
                        "name": "only_active",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {},
                        "x-ballerina-name": "onlyActive"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response for get_entitlements",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/EntitlementResponse"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.entitlements"
                        ]
                    }
                ],
                "description": "Returns a list of entitlement objects for the specified application, or an error response on failure."
            },
            "post": {
                "operationId": "create_entitlement",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEntitlementRequestData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for create_entitlement",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntitlementResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the newly created entitlement object on success, or an error response on failure."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/entitlements/{entitlementId}": {
            "get": {
                "operationId": "get_entitlement",
                "responses": {
                    "200": {
                        "description": "200 response for get_entitlement",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntitlementResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.entitlements"
                        ]
                    }
                ],
                "description": "Returns the entitlement object for the specified ID, or an error response on failure."
            },
            "delete": {
                "operationId": "delete_entitlement",
                "responses": {
                    "204": {
                        "description": "204 response for delete_entitlement",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.entitlements"
                        ]
                    }
                ],
                "description": "Returns no content on successful deletion of the entitlement, or an error response on failure."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "entitlementId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/entitlements/{entitlementId}/consume": {
            "post": {
                "operationId": "consume_entitlement",
                "responses": {
                    "204": {
                        "description": "204 response for consume_entitlement",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.entitlements"
                        ]
                    }
                ],
                "description": "Returns no content on successful consumption of the entitlement, or an error response on failure."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "entitlementId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/guilds/{guildId}/commands": {
            "get": {
                "operationId": "list_guild_application_commands",
                "parameters": [
                    {
                        "name": "with_localizations",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {},
                        "x-ballerina-name": "withLocalizations"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response for list_guild_application_commands",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/ApplicationCommandResponse"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns a list of guild application command objects for the specified guild, or an error response on failure."
            },
            "put": {
                "operationId": "bulk_set_guild_application_commands",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maxItems": 130,
                                "items": {
                                    "$ref": "#/components/schemas/ApplicationCommandUpdateRequest"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for bulk_set_guild_application_commands",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/ApplicationCommandResponse"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns a list of guild application command objects after bulk overwriting, or an error response on failure."
            },
            "post": {
                "operationId": "create_guild_application_command",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplicationCommandCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for create_guild_application_command",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "201 response for create_guild_application_command",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns the created guild application command object on success, or an error response on failure."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "guildId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/guilds/{guildId}/commands/permissions": {
            "get": {
                "operationId": "list_guild_application_command_permissions",
                "responses": {
                    "200": {
                        "description": "200 response for list_guild_application_command_permissions",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/CommandPermissionsResponse"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.permissions.update"
                        ]
                    }
                ],
                "description": "Returns a list of guild application command permissions objects for all commands, or an error response on failure."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "guildId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/guilds/{guildId}/commands/{commandId}": {
            "get": {
                "operationId": "get_guild_application_command",
                "responses": {
                    "200": {
                        "description": "200 response for get_guild_application_command",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns the guild application command object for the specified command ID, or an error response on failure."
            },
            "delete": {
                "operationId": "delete_guild_application_command",
                "responses": {
                    "204": {
                        "description": "204 response for delete_guild_application_command",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns no content on successful deletion of the guild application command, or an error response on failure."
            },
            "patch": {
                "operationId": "update_guild_application_command",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplicationCommandPatchRequestPartial"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for update_guild_application_command",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.update"
                        ]
                    }
                ],
                "description": "Returns the updated guild application command object on success, or an error response on failure."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "guildId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "commandId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/guilds/{guildId}/commands/{commandId}/permissions": {
            "get": {
                "operationId": "get_guild_application_command_permissions",
                "responses": {
                    "200": {
                        "description": "200 response for get_guild_application_command_permissions",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandPermissionsResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.permissions.update"
                        ]
                    }
                ],
                "description": "Returns the guild application command permissions object for the specified command, or an error response on failure."
            },
            "put": {
                "operationId": "set_guild_application_command_permissions",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandIdPermissionsBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for set_guild_application_command_permissions",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandPermissionsResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    },
                    {
                        "OAuth2": [
                            "applications.commands.permissions.update"
                        ]
                    }
                ],
                "description": "Returns the updated guild application command permissions object on success, or an error response on failure."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "guildId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                },
                {
                    "name": "commandId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/applications/{applicationId}/role-connections/metadata": {
            "get": {
                "operationId": "get_application_role_connections_metadata",
                "responses": {
                    "200": {
                        "description": "200 response for get_application_role_connections_metadata",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns a list of application role connection metadata objects for the application, or an error response on failure."
            },
            "put": {
                "operationId": "update_application_role_connections_metadata",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maxItems": 5,
                                "items": {
                                    "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemRequest"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 response for update_application_role_connections_metadata",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the updated list of application role connection metadata objects, or an error response on failure."
            },
            "parameters": [
                {
                    "name": "applicationId",
                    "in": "path",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "$ref": "#/components/schemas/SnowflakeType"
                    }
                }
            ]
        },
        "/channels/{channelId}": {
            "get": {
                "operationId": "get_channel",
                "responses": {
                    "200": {
                        "description": "200 response for get_channel",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/GuildChannelResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/PrivateChannelResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/PrivateGroupChannelResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ThreadResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/ClientRatelimitedResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/ClientErrorResponse"
                    }
                },
                "security": [
                    {
                        "BotToken": []
                    }
                ],
                "description": "Returns the channel object for the specified channel ID, or an error response on failure."
            },
            "delete": {
                "operationId": "delete_channel",
                "responses": {
                    "200": {
                        "description": "200 response for delete_channel",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Reset-After": {
                                "$ref": "#/components/headers/X-RateLimit-Reset-After"
                            },
                            "X-RateLimit-Bucket": {
                                "$ref": "#/components/headers/X-RateLimit-Bucket"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/GuildChannelResponse"
                                        },
[...]
